<div class="jumbotron">
  <h1>Bianchi's Brews</h1>
</div>

<div class="card">
  <div class="card-header">
    <h1>BREWS</h1>
  </div>
  <% @brews.each do |brew| %>
    <small><%= link_to brew.name %></small><br>
  <% end %>
</div>
