<div class="jumbotron">
  <h1>Bianchi's Brews</h1>
</div>

<div class="card">
  <div class="card-header">
    <small><%= link_to "ADD BREW", new_brew_path %></small>
  </div>
  <% @brews.each do |brew| %>
  <small><%= link_to brew.name, brew_path(brew) %></small><br>
  <% end %>
</div>
