@import 'bulma';


$header-font: 'Stylish', sans-serif;

.jumbotron {
  text-align: center;
  h1 {
    font-family: $header-font;
    font-size: 100px;
  }
}

body {
  padding: 50px;
}

* {
  padding: 5px;
  margin: 5px;
}
