<% if object.errors.any? %>
  <h3>Hey, friend. You need to fix this stuff.</h3>
  <ul>
    <% object.errors.full_messages.each do |message| %>
      <h2><%= message %></h2>
    <% end %>
  </ul>
<% end %>
